#  Segmenting and Clustering Neighborhoods in Toronto
----
## Question 2. Geographical Coordinates

#### Importing necessary libraries

In [1]:
import pandas as pd
import numpy as np

#### Reading the csv file of the dataframe created in previous question

In [2]:
df=pd.read_csv('TorontoDataset.csv')

In [3]:
df.head()

   Unnamed: 0 PostalCode           Borough                      Neighborhood
0           0        M3A        North York                         Parkwoods
1           1        M4A        North York                  Victoria Village
2           2        M5A  Downtown Toronto         Regent Park, Harbourfront
3           3        M6A        North York  Lawrence Heights, Lawrence Manor
4           4        M7A      Queen's Park                      Queen's Park

In [4]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [5]:
df.head()

  PostalCode           Borough                      Neighborhood
0        M3A        North York                         Parkwoods
1        M4A        North York                  Victoria Village
2        M5A  Downtown Toronto         Regent Park, Harbourfront
3        M6A        North York  Lawrence Heights, Lawrence Manor
4        M7A      Queen's Park                      Queen's Park

#### Reading the csv file containing coordinates in a dataframe

In [6]:
df_geo=pd.read_csv('https://cocl.us/Geospatial_data')

In [7]:
df_geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [8]:
df_geo.shape

(103, 3)

#### Renaming the column 'Postal Code' in df_geo as 'PostalCode'

In [9]:
df_geo=df_geo.rename({'Postal Code':'PostalCode'},axis=1)

In [10]:
df_geo.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

#### Combining the two dataframes

In [11]:
df=df.join(df_geo.set_index('PostalCode'),on='PostalCode')

In [12]:
df.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Heights, Lawrence Manor",43.718518,-79.464763
4,M7A,Queen's Park,Queen's Park,43.662301,-79.389494

#### Saving this dataframe to a csv file

In [13]:
df.to_csv("TorontoGeoData.csv")